.card {
  position: relative;
}
.card img {
  width: 80%;
  display: block;
}
.card .front {
  display: none;
  position: absoloute;
}

.card.flipped {
  animation: card-flip 0.3s ease-in;
}

.card.flipped .front {
  display: block;
}

.card.flipped .back {
  display: none;
}

/* Animation */

@keyframes card-flip {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
