@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #edecee;
  color: rgb(0, 0, 0);
}
